body{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
}
header img {
    object-fit: cover;
    margin: auto;
    max-width: 200px;
    padding: 15px;
}
body h3, h4 {
    font-family: 'Roboto';
    font-weight: bold;
}
main p {
    font-family: 'Roboto';
    opacity: 0.7;
}
main {
    align-items: center;
    border: none;
    padding: 0;
}
button:hover {
    opacity: 0.7;
    box-shadow: 0 4px 8px black;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    header, main, footer {
        max-width: 992px;
        margin: auto;
    }
}
@media screen and (min-width: 992px) {
    header, main, footer {
        max-width: 1340px;
        margin: auto;
    }
}