nav i {
    margin: 0;
    color: grey;
}
#img_Palette {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
#img_Note {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
#img_Francaise {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
#img_Delice {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
main {
    background-repeat: no-repeat;
    background-size: 100% 300px, cover;
}
.card {
    box-shadow: 0 4px 8px 0 black;
    background-color: rgb(231, 230, 230);
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    margin: auto;
} 
.image {
    width: 100%;
    height: 200px;
    display: block;
}
main h4, main p {
    padding: 3px;
    margin: 0;
}
.name {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card i{
    padding: 0;
    margin: 0;
}
.click_favoris i {
    color: gray;
    font-weight: lighter;
}

.click_favoris:hover .fa-heart {
    display: block;
    border: none;
    animation-duration: 2s;
    /* animation-direction: alternate; */
    animation-fill-mode: forwards;
    animation-name: slideHearth;
}
.fa-heart {
    color: gray;
    overflow: hidden;
}
@keyframes slideHearth {
    from {
        width: 100%;
        height: 0;
        font-weight: bold;
    }
    to {
        width: 100%;
        height: 30px;
        font-weight: bold;
        background: linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
section.card div {
    margin: auto;
    max-width: 500px;
    align-items: center;
}

/* entrée/plats/desserts */
main h3 {
    padding: 10px;
}
article {
    animation-duration: 3s;
    animation-name: progresive_text;
}
@keyframes progresive_text {
    from {
        opacity: 0;
        margin-bottom: 25px;
    }
    to {
        margin-bottom: 0;
        opacity: 1;
    }
}
article {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 8px black;
    overflow: hidden;
    margin: 15px;
    max-width: 360px;
}
article div.aligment {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.bolder {
    font-weight: bold;
    padding-left: 25px;
    padding: 5px;
}
.espacement {
    padding: 5px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
}
.article {
    overflow-wrap: break-word;
    text-overflow: ellipsis; 
}
.comand i {
    color: white;
    width: 0;
    padding: 5px;
}
article:hover .comand {
    animation-duration: 5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    /* animation-iteration-count: 2; */
    animation-name: slide_Check;
}

@keyframes slide_Check {
    from {
        width: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    to {
        background-color: #99E2D0;
        width: 10%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
article:hover i {
    animation-duration: 5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    /* animation-iteration-count: 2; */
    animation-name: rotate_Check;
}

@keyframes rotate_Check {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
main a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1340px;
    padding: 25px;
}

button {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50px;
    padding: 15px;
    color: white;
    border: none;
    background: linear-gradient(#FF79DA, #9356DC);
}

@media screen and (min-width: 992px) {
    .name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
