body{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

/*Loading spinner*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1340px;
    background: white;
    animation-delay: 1s;
    animation: load 3s;
    animation-fill-mode: forwards;
}
.loader {
    height: 300px;
    width: 300px;
    stroke-linecap: round;
    margin-top: 400px;
}
circle {
    fill: none;
    stroke-width: 10px;
    animation-name: preloader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transform-origin: 150px 150px;
}
circle {
    stroke-dasharray: 300px;
}

@keyframes preloader {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes load {
    from {
        opacity: 1;
        width: 100%;
    }
    to {
        opacity: 0;
        width: 0;
    }
}

/*Ombre header page d'acceuil*/
header {
    box-shadow: 0 0 4px 0 black;
}

/* formulaire*/
form {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
}
i {
    font-size: large;
    color: black;
}
form i {
    padding: 15px;
}
input[type="text"]{
    border: none;
    background-color: #eaeaea;
    padding: 15px;
}

/*Exploration de menu*/
.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;
    max-width: 700px;  /* block plus grand en media queries*/
    margin: auto;
}
button {
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.intro button {
    background: linear-gradient( #FF79DA,#9356DC);
    color: white;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.intro h3{
    max-width: 200px;
    padding-top: 25px;
    margin: 0;
} 
.intro p {
    margin: 0;
    padding: 15px;
    max-width: 300px;
    opacity: 0.7;
}

/*Fonctionnement*/

.running {
    margin: auto;
    max-width: 1340px;
}
.running h3 {
    padding: 15px;
}
.arrangement {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.organization {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 5px;
    /* width: 500px;
     */
}
.running aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    /* width: 360px; */
    width: 300px;
    /* margin: 15px; */
    z-index: -50;
    background-color: #f6f6f6;
}
div.aligment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 250px;
}
div.number {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 15px; */
    margin-right: -10px;
}
.running span {
    display: flex;
    justify-content: center;
    border-radius: 200px;
    align-items: center;
    background-color: #9356DC;
    color: white;
    font-size: small;
    padding: 5px 8px;
}
.running i {
    color: gray;
    padding-right: 15px;
}

.running div.organization:hover i{
    color: #9356DC;
}
.running div.organization:hover aside {
    background-color: #9256dc3d;
}

/*Restaurants*/
.restaurant {
    background-color: #f6f6f6;
}
.card_Position { 
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.restaurant h3 {
    padding: 15px;
}
#Picture_1 {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#Picture_2 {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#Picture_3 {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#Picture_4 {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    margin: 20px;
    width: 500px;
}
.picture {
    width: 100%;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card .new {
    float: right;
    color: green;
    background-color: #99E2D0;
    border-radius: 2px;
    padding: 8px 10px;
    margin: 10px;
    font-family: 'Roboto';
    font-size: small;
    font-weight: bold;
}

.card .line {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
}

.line h4, .card i{
    padding: 0;
    margin: 0;
}
.card p {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0;
}

/*Animation du coeur*/
.zone {
    display: flex;
    align-items: center;
    height: 24px;
}
.zone i {
    color: gray;
    font-weight: lighter;
    font-size: large;
}
span.zone:hover .fa-heart {
    display: block;
    border: none;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: slideHearth;
}
.fa-heart {
    color: gray;
    overflow: hidden;
    height: 24px;
}
@keyframes slideHearth {
    from {
        width: 100%;
        height: 0;
        font-weight: bold;
        background: linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    to {
        width: 100%;
        height: 24px;
        font-weight: bold;
        background: linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .intro {
        max-width: 900px;
    }
    .running aside {
        width: 700px;
    }
    .card {
        width: 240px;
        max-height: 700px;
    }
}

@media screen and (min-width: 992px) {
    .intro, form, .intro h3, .intro p, .running {
        max-width: 1340px;
    }
    .running aside {
        width: 360px;
    }
    .card {
        width: 240px;
        max-height: 700px;
    }
}