body{
    margin: 0;
    padding: 0;
}
body p{
    font-family: 'Roboto';
    font-size: small;
}
body h3, body h4 {
    font-family: 'Shrikhand';
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
header {
    box-shadow: 0 0 4px 0 black;
}
form {
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.26);
}
i {
    font-size: large;
    color: black;
}
form i {
    padding: 15px;
}
input[type="text"]{
    border: none;
    background-color: rgba(128, 128, 128, 0.021);
}
.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.048);
    max-width: 700px;  /* block plus grand en media queries*/
    margin: auto;
    padding-bottom: 15px;
}
button {
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.intro button {
    background: linear-gradient( #FF79DA,#9356DC);
    color: white;
    padding: 15px;
}

.intro h3{
    max-width: 200px;
} 
.intro p {
    max-width: 230px;
    opacity: 0.7;
}
.fonctionnement {
    margin: auto;
    max-width: 500px;
    padding: 15px;
}
.fonctionnement button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.048);
    width: 400px;
    padding: 15px;
}

.fonctionnement button p{
    width: 170px;
    margin: 0;
    padding: 5px;
    font-weight: bold;
}
.fonctionnement article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    margin: auto;
    max-width: 360px;
}
.fonctionnement article span {
    display: flex;
    justify-content: center;
    border-radius: 200px;
    align-items: center;
    background-color: #9356DC;
    color: white;
    border: none;
    font-size: small;
    padding: 2px 5px;
}
.fonctionnement i {
    color: gray;
}

.fonctionnement article:hover i{
    color: #9356DC;
}
.fonctionnement article:hover button{
    background-color: #9256dc3d;
}
.restaurant {
    background-color: rgba(128, 128, 128, 0.048);
}
.restaurant div {
    margin: auto;
    max-width: 350px;
    padding: 30px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 5px;
}
#Picture_1 {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 177px, cover;
}
#Picture_2 {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 177px, cover;
}
#Picture_3 {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 180px, cover;
}
#Picture_4 {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 180px, cover;
}
.image_new {
    width: 100%;
    height: 150px;
}
.image {
    width: 100%;
    height: 180px;
}

.card .new {
    border: none;
    float: right;
    color: green;
    background-color: #99E2D0;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

.card div, .card h4, .card p {
    margin: 0;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}
.card i{
    padding: 0;
    margin: 0;
}
/* #click_favoris i {
    color: gray;
    object-fit: cover;
}
#click_favoris i:hover{
    background-color: #9356DC;
    border: none;
} */
input[type="checkbox"] {
    display: none
}
.fa-heart{
    overflow: hidden;
    border: none;
}
.click .fa-heart {
    background: linear-gradient(#FF79DA,#9356DC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}
.no_click i {
    color: gray;
}

label > * {
    position: absolute;
    transition: opacity 3s ease;
}
input + label > :last-child {
    opacity: 0;
}
input:checked + label > :first-child {
    opacity: 0;
}
input:checked + label > :last-child {
    opacity: 1;
}

@media screen and (min-width: 992px) {
    .intro {
        max-width: 1340px;
    }
    .intro h3{
        max-width: 1340px;
    } 
    .intro p {
        max-width: 1340px;
    }
    .restaurant div {
        max-width: 1340px;
        display: flex;
        justify-content: space-around;
    }
    .card {
        width: 240px;
        max-height: 500px;
    }

}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .intro {
        max-width: 900px;
    }
    .intro h3{
        max-width: 1340px;
    } 
    .intro p {
        max-width: 1340px;
    }
    .restaurant div {
        max-width: 700px;
    }
}

.lds-ellipsis {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
    animation: disparition 5s ;
    animation-fill-mode: forwards;
}
.lds-ellipsis div:nth-child(1) {
    margin-left: 8px;
    animation: lds-ellipsis1 0.6s 0.1s;
    animation-iteration-count: 5; 
}
.lds-ellipsis div:nth-child(2) {
    margin-left: 8px;
    animation: lds-ellipsis2 0.6s 0.1s;
    animation-iteration-count: 5; 
}
.lds-ellipsis div:nth-child(3) {
    margin-left: 32px;
    animation: lds-ellipsis2 0.6s 0.1s;
    animation-iteration-count: 5; 
}
.lds-ellipsis div:nth-child(4) {
    margin-left: 56px;
    animation: lds-ellipsis3 0.6s 0.1s;
    animation-iteration-count: 5; 
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
.lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: gray;
}
@keyframes diparition {
    from {
        display: inline;
    }
    to {
        display: none;
    }
}